.dashboard-body {
    font-family: 'Marmelad', Arial, sans-serif;
}

.app-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  margin-left: 250px; /* Igual al ancho del sidebar */
  transition: margin-left 0.3s ease;
  font-family: 'Lekton', sans-serif;
}

.content-wrapper {
  padding: 20px;
}

/* Cuando el sidebar está colapsado */
.sidebarAdmin.collapsed + .main-content {
  margin-left: 80px; /* Igual al ancho del sidebar colapsado */
}

/* Asegura que el navbar no se solape con el sidebar */
.navbarHAdmin-container {
  position: sticky;
  top: 0;
  z-index: 100;
}

.sidebarAdmin-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; /* Debajo del sidebar pero encima del contenido */
}

/* Estilos responsivos (opcional) */
@media (max-width: 768px) {
  .main-content {
    margin-left: 80px;
  }
  .sidebarAdmin:not(.collapsed) + .main-content {
    margin-left: 250px;
  }

  .sidebarAdmin:not(.collapsed) ~ .sidebarAdmin-overlay {
    display: block;
  }
}